.fixbar{
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  height: 75px;
  background-color: rgb(225, 225, 225); //grey
}

.entire{
  position: relative;
  top: 100px;
}

input{
  position: relative;
  top: -50px;
  left: 300px;
}
button{
  position: relative;
  top: -50px;
  left: 500px;
}

#artistName{
  font-size: 75px;
  text-align: center;
}
#albumName{
  text-align: center;
  font-size: 50px;
}
#artistBio{
visibility: hidden;
width: 0px;
height: 0px;
}

#albumInfo{
text-align: left;
position: relative;
left: 20px;
width: 310px;
top: 50px;
}
#albumImage{
  position: relative;
  top: 50px;
  left: 20px;
  width: 500px;
  /* height: 500px; */
}
