body{
  background-color: #F0F0F0;
}
.fixbar{
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  height: 75px;
  background-color: #967BB6;
}

.entire{
  position: relative;
  top: 100px;
}

input{
  position: relative;
  top: -50px;
  left: 300px;
}
button{
  position: relative;
  top: -50px;
  left: 500px;
}

#artistName{
  font-size: 75px;
  text-align: center;
}
#albumName{
  text-align: center;
  font-size: 50px;
}
#artistBio{
width: 0px;
height: 0px;
display: none;
}

#albumImage{
  position: relative;
  top: 50px;
  left: 20px;
  width: 500px;
}

#albumInfo{
text-align: left;
position: relative;
top: 60px;
left: 20px;
width: 310px;
overflow: scroll;
height: 200px;

}

#artistImage{
  position: relative;
  top: 500px;
}

#albumTracks{
  position: relative;
  top: -460px;
  width: 310px;
}
