
body{
  background-color: #F0F0F0;
  font-family: 'Sahitya', serif;
  font-family: 'Slabo 27px', serif;
}
.fixbar{
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  height: 75px;
  background-color: #967BB6;
}

#entire{
  position: relative;
  top: 100px;
}

input{
  position: relative;
  top: -44px;
  left: 1100px;
  height: 20px;
  font-size: 16px;
}
button{
  position: relative;
  top: -44px;
  left: 1100px;
  height: 26px;
  font-size: 18px;
}

#topThreeAlbums{
  display: none;
}
#previewtitle{
  position: absolute;
  top: 600px;
  left: 1325px;
  font-size: 25px;
}
#artistName{
  font-size: 75px;
  text-align: center;
}
#albumName{
  text-align: center;
  font-size: 50px;
}
#artistBio{
width: 0px;
height: 0px;
display: none;
}

#albumImage{
  position: relative;
  top: -100px;
  left: 20px;
  width: 500px;
}

#albumInfo{
text-align: left;
position: relative;
top: -90px;
left: 20px;
width: 310px;
width: 318px;
overflow: scroll;
height: 200px;

height: 260px;
font-size: 20px;
}

#artistImage{
height: 200px;
}

#albumTracks{
  position: relative;
  top: -460px;
  position: absolute;
  top: 250px;
  width: 310px;
  left: 670px;
  height: 500px;
  overflow: scroll;
  text-align: center;
  font-size:30px;
}
#tracks{
  position: absolute;
  top: 150px;
  width: 310px;
  left: 670px;
  text-align: center;
  font-size:40px;
  text-decoration: underline;
}
#topTracks{
  position: absolute;
  top: 100px;
  width: 350px;
  left: 1250px;
  height: 400px;
  overflow: scroll;
  text-align: center;
  font-size:30px;

}
#toptracklist{
  position: absolute;
  top: 0px;
  width: 310px;
  left: 1275px;
  text-align: center;
  font-size:40px;
  text-decoration: underline;
}

#artistImage{
  width: 0px;
  height: 0px;
  display: none;
}
#extraAlbum1, #extraAlbum2, #extraAlbum3{
  width: 0px;
  height: 0px;
  display: none;
}
#play1{
  position: absolute;
  top: 675px;
  left: 1325px;
}
#play2{
  position: absolute;
  top: 725px;
  left: 1325px;
}
#play3{
  position: absolute;
  top: 775px;
  left: 1325px;
}
#pause1{
  position: absolute;
  top: 675px;
  left: 1400px;
}
#pause2{
  position: absolute;
  top: 725px;
  left: 1400px;
}
#pause3{
  position: absolute;
  top: 775px;
  left: 1400px;
}
#song1name{
  position: absolute;
  top: 655px;
  left: 1325px;
}
#song2name{
  position: absolute;
  top: 705px;
  left: 1325px;
}
#song3name{
  position: absolute;
  top: 755px;
  left: 1325px;
}

#Exit{
    z-index: 2;
    position: absolute;
    top: 120px;
    left: 375px;
    font-size: 20px;
    width: 50px;
}
#text{
  position: absolute;
  font-size: 50px;
  top: 25px;
  left: 750px;
  font-size: 70px;
}
